BOT_TOKEN=

DATABASE_URL=sqlite+aiosqlite:///./bot.db

APP_HOST=0.0.0.0
APP_PORT=8080
APP_BASE_URL=
YOOKASSA_WEBHOOK_PATH=/yookassa/webhook
YOOKASSA_RETURN_URL=

YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=

YOOKASSA_VAT_CODE=1
YOOKASSA_TAX_SYSTEM_CODE=1

SUPPORT_USERNAME=

# ---------- GERMANY SERVER ----------
XUI_GERMANY_API_URL=
XUI_GERMANY_PUBLIC_BASE_URL=
XUI_GERMANY_USERNAME=
XUI_GERMANY_PASSWORD=
XUI_GERMANY_INBOUND_ID=
XUI_GERMANY_FLOW=xtls-rprx-vision
XUI_GERMANY_SUB_TEMPLATE=

# ---------- BYPASS SERVER ----------
XUI_BYPASS_API_URL=
XUI_BYPASS_PUBLIC_BASE_URL=
XUI_BYPASS_USERNAME=
XUI_BYPASS_PASSWORD=
XUI_BYPASS_INBOUND_ID=
XUI_BYPASS_FLOW=
XUI_BYPASS_SUB_TEMPLATE=